<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%- partial('post/gallery-pages') %>
    <div class="article-inner-pages">
      <% if (post.link || post.title){ %>   
       <header class="article-header-pages">
         <%- partial('post/title', {class_name: 'article-title-pages'}) %>
       </header>
      <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date-page', date_format: null}) %>
        <%- partial('post/category') %>
          <div class="article-tag-list-link-<%= post.color %>">
            <%- partial('post/tag') %>
          </div>
    </div>
    <div class="article-entry-pages" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (!index && theme.toc && toc(post.content)) { %>
      <div class="article-toc">
        <h3><%= __('article.contents') %></h3>
        <%- toc(post.content) %>
      </div>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>

<% if (config.duoshuo_shortname){ %>
  <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->

<script type="text/javascript">
  var duoshuoQuery = {short_name:"zyxscientist"};
    (function() {
     var ds = document.createElement('script');
     ds.type = 'text/javascript';ds.async = true;
     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
     ds.charset = 'UTF-8';
     (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
<% } %>

<script src="<%- url_for(config.root + 'js/jquery.min.js') %>"></script>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<%- js('js/script') %>
</article>

