<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%- partial('post/gallery-pages') %>
    <div class="article-inner-pages">
      <% if (post.link || post.title){ %>   
       <header class="article-header-pages">
         <%- partial('post/title', {class_name: 'article-title-pages'}) %>
       </header>
      <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date-page', date_format: null}) %>
        <%- partial('post/category') %>
          <div class="article-tag-list-link-<%= post.color %>">
            <%- partial('post/tag') %>
          </div>
    </div>
    <div class="article-entry-pages" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (!index && theme.toc && toc(post.content)) { %>
      <div class="article-toc">
        <h3><%= __('article.contents') %></h3>
        <%- toc(post.content) %>
      </div>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<%- partial('after-footer') %>
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>